MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=http://localhost:3000/api/mpesa/callback

# KCB Buni Payment Gateway Configuration
KCB_BUNI_ENV=sandbox
KCB_BUNI_BASE_URL=https://uat.buni.kcbgroup.com
KCB_BUNI_APP_KEY=
KCB_BUNI_APP_SECRET=
KCB_BUNI_PASSKEY=
KCB_BUNI_SHORTCODE=522533
KCB_BUNI_MERCHANT_CODE=
KCB_BUNI_CALLBACK_URL=http://localhost:3000/api/kcb/callback
